/*Menu*/
.navbar{
    background-color: #ffffff !important;
    height: 100px;
}

.mr-auto{
    padding-left: 60px;
}

.ml-auto{
    padding-right: 60px;
}

.navbar-brand{
    font-family: 'PT Serif', serif;
    font-size: x-large !important;
}

.nav-item:hover a{
    text-decoration: underline;
}

/*Index*/
.container-sm{
    padding-bottom: 60px;
    padding-top: 60px;
}
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.column:hover img{
    transform: scale(1.1);
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/*.column img{
    width: 100%;
}*/

.hover {
    overflow: hidden;
    position: relative;
    padding-bottom: 60%;
}

.hover-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    transition: all 0.4s;
}

.hover img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
}

.hover-content {
    position: relative;
    z-index: 99;
}

.hover-1 img {
    width: 105%;
    position: absolute;
    top: 0;
    left: -5%;
    transition: all 0.3s;
}

.hover-1-content {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 99;
    transition: all 0.4s;
}

.hover-1 .hover-overlay {
    background: rgba(0, 0, 0, 0.5);
}

.hover-1-description {
    transform: translateY(0.5rem);
    transition: all 0.4s;
    opacity: 0;
}

.hover-1:hover .hover-1-content {
    bottom: 2rem;
}

.hover-1:hover .hover-1-description {
    opacity: 1;
    transform: none;
}

.hover-1:hover img {
    left: 0;
}

.hover-1:hover .hover-overlay {
    opacity: 0;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

.row.col img{
    filter: grayscale(100%);
}

/*Paragraphs*/
p{
    margin:24px 0;
    line-height: 2;
    font-family: 'PT Serif', serif !important;
}

/*Cookies*/
.cookie-container{
    font-size: 20px;
    font-family: 'PT Serif', serif;
    text-align: center;
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    background: #2f3640;
    color: #f5f6fa;
    padding: 0 32px;
    box-shadow: 0 -2px 16px rgba(47,54,64,0.39);

    transition: 400ms;
}

.cookie-container.active{
    bottom: 0;
}

.cookie-container a{
    color: #f5f6fa;
}

.cookie-btn{
    font-size: x-large;
    font-family: 'PT Serif', serif;
    background: #e84118;
    border: 0;
    color: #f5f6fa;
    padding: 10px 30px;
    margin-bottom: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.display-5{
    font-family: 'PT Serif', serif;
}

/*Log In and Create account*/
.bg{
    background: url("../img/hotel.jpg") no-repeat;
    width: 100%;
    height: 100vh;
    background-size: 100%;
}

.form-container{
    position: absolute;
    font-family: 'PT Serif', serif;
    top: 15vh;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
}

/*Contact*/
#contatti{
    background-color: #eee;
    letter-spacing: 2px;
}
#contatti a{
    color: #0a0606;
    text-decoration: none;
}

@media (max-width: 575.98px) {

    #contatti{padding-bottom: 800px;}
    #contatti .maps iframe{
        width: 100%;
        height: 450px;
    }
}

@media (min-width: 576px) {

    #contatti{padding-bottom: 800px;}

    #contatti .maps iframe{
        width: 100%;
        height: 450px;
    }
}

@media (min-width: 768px) {

    #contatti{padding-bottom: 350px;}

    #contatti .maps iframe{
        width: 100%;
        height: 850px;
    }
}

@media (min-width: 992px) {
    #contatti{padding-bottom: 200px;}

    #contatti .maps iframe{
        width: 100%;
        height: 700px;
    }
}

h3{
    font-family: 'PT Serif', serif;
 }

/*Reservation*/
.section {
    position: relative;
    height: 100vh
}

#booking {
    font-family: 'PT Serif', serif;
}

.booking-form {
    position: center;
    max-width: 800px;
    width: 100%;
    margin: auto;
    padding: 40px;
    overflow: hidden;
    background-color: #ece2c6;
    background-size: cover;
    border-radius: 5px;
    z-index: 20
}

.container .form-check {
    margin: auto;
    font-size: 20px;
    padding-bottom: 20px;
}

.booking-form .form-header {
    text-align: center;
    font-family: 'PT Serif', serif;
    position: relative;
    margin-bottom: 30px
}

.booking-form .form-header h3 {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 30px;
    margin: 0px;
    color: black;
}

.booking-form .form-group {
    position: relative;
    margin-bottom: 30px
}

.booking-form .form-control {
    background-color: white;
    height: 60px;
    padding: 0px 25px;
    border: none;
    border-radius: 40px;
    color: black;
    -webkit-box-shadow: 0px 0px 0px 2px transparent;
    box-shadow: 0px 0px 0px 2px transparent;
    -webkit-transition: 0.2s;
    transition: 0.2s
}

.booking-form .form-control::-webkit-input-placeholder {
    color: black;
}

.booking-form .form-control:-ms-input-placeholder {
    color: black;
}

.booking-form .form-control::placeholder {
    color: black;
}

.booking-form .form-control:focus {
    -webkit-box-shadow: 0px 0px 0px 2px #ff8846;
    box-shadow: 0px 0px 0px 2px #ff8846
}

.booking-form input[type="date"].form-control {
    padding-top: 16px
}

.booking-form input[type="date"].form-control:invalid {
    color: black;
}

.booking-form input[type="date"].form-control+.form-label {
    opacity: 1;
    top: 10px
}

.booking-form select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.booking-form select.form-control:invalid {
    color: black;
}

.booking-form select.form-control+.select-arrow {
    position: absolute;
    right: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 32px;
    line-height: 32px;
    height: 32px;
    text-align: center;
    pointer-events: none;
    color: black;
    font-size: 14px
}

.booking-form select.form-control+.select-arrow:after {
    content: '\279C';
    display: block;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

.booking-form select.form-control option {
    color: #000
}

.booking-form .form-label {
    position: absolute;
    top: -10px;
    left: 25px;
    opacity: 0;
    color: #ff8846;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    height: 15px;
    line-height: 15px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all
}

.booking-form .form-group.input-not-empty .form-control {
    padding-top: 16px
}

.booking-form .form-group.input-not-empty .form-label {
    opacity: 1;
    top: 10px
}

.booking-form .submit-btn {
    color: #fff;
    background-color: #e35e0a;
    font-weight: 700;
    height: 60px;
    padding: 10px 30px;
    width: 100%;
    border-radius: 40px;
    border: none;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1.3px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all
}

.booking-form .submit-btn:hover,
.booking-form .submit-btn:focus {
    opacity: 0.9
}