<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1 th:text="'Hello, ' + ${name} + '!'" />
    <h2>Lista Espacios</h2>
    <table class="">
        <tr>
            <th>Capacidad</th>
            <th>Precio</th>
            <th>Tipo</th>
        </tr>
        <tr th:each="area : ${areas}">
            <td th:text="${area.getCapacity()}"></td>
            <td th:text="${area.getPrice()}"></td>
            <td th:if="${area.getType().toString() == 'HABITACION'}">HABITACION</td>
            <td th:unless="${area.getType().toString() == 'HABITACION'}">SALA</td>
        </tr>
    </table>
</body>
</html>