<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>User form</h1>
<form th:action="@{/registration}" th:object="${newUser}" method="post" enctype="utf8">

    <div>
        <label>Username</label>
        <input type="email" th:field="*{username}"/>
    </div>
    <div>
        <label>password</label>
        <input type="password" th:field="*{password}"/>
    </div>
    <button type="submit">submit</button>
</form>

<a th:href="@{/index}">index</a>
</body>
</html>